.buttons{
    float: "left";
    margin-left: "5%";
}

.container{
	width: 355px;
	height: 405px;
	margin: 0 auto;
	overflow-y: auto;
}

.table{
	border-collapse: collapse;
	width: 100%;
	background-color: rgba(75, 192, 192, 0.6);
}

.table, th, td{
	border: 1px solid lightgray;
	padding: 3px;
}

.table th{
	height: 5px;
}
